body {
    background: rgb(128, 0, 0);  
}
p {
    color: #E53D3D;
}
h1 {
   background-color: #980000; 
}
h2 {
    background-color: red;
}
h3 {
    background-color: red;
}
.bottom-tag {
    background-color: white; 
}
.header {
    float: right;
}
ul {
	background-color: white;
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }
