body {
	background: #eb3c34;  
}
.header {
	float: right;
}
ul {
	background-color: #fab8b9;
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #fab8b9;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #918ca4;
	border-right: 1px solid #ccc; 
}
#nav li a:hover {
	color: #1c1c44;
	background-color: #fff; 
}
#license {
	text-align: center;
	font-family: 'VT323', monospace;
	background-color: white;
}
#linknotice {
	color: white;
	font-weight: bold;
}
.headingofsite {
	color: #1c1c44;
}
